<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css" rel="stylesheet">
    <link href="https://getbootstrap.com/docs/5.3/assets/css/docs.css" rel="stylesheet">
    <title></title>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/js/bootstrap.bundle.min.js"></script>

    </style>
  </head>
  <body >
    <nav class="navbar sticky-top navbar-expand-lg bg-body-dark bg-primary">
      <div class="container-fluid">
        <a class="navbar-brand" >Summary</a>
        <div class="collapse navbar-collapse" id="navbarScroll">
          <ul class="navbar-nav me-auto my-2 my-lg-0 navbar-nav-scroll" style="--bs-scroll-height: 100px;">
            <form class="d-flex" method="post" action="/A_dashboard">
              <li class="nav-item" >
                <button class="btn btn-outline-primary" type="submit"  style="color:black ;padding-left: 70px;padding-top: 7px;">Dashboard</button>             
              </li>
            </form>
            <form class="d-flex" action="/logout">
              <li class="nav-item" >
                <button class="btn btn-outline-primary" type="submit"  style="color:black ;padding-left: 70px;padding-top: 7px;">logout</button>             
              </li>
            </form></ul></div></div></nav>
            <div >
         <img  style="width: 1000px;height: 500px;margin-left: 300px;" src="..\static\1.png">
         <img style="width: 1000px;height: 500px;margin-left: 300px;" src="..\static\2.png"></div>
  </body>
</html>